################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Portajel.Droid/obj
/Portajel.iOS/obj/project.nuget.cache
/Portajel.iOS/obj/Portajel.iOS.csproj.nuget.dgspec.json
/Portajel.iOS/obj/project.packagespec.json
/Portajel.iOS/obj/project.assets.json
/Portajel.iOS/obj/Portajel.iOS.csproj.nuget.g.targets
/Portajel.Mac/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Portajel.Mac/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Portajel.Mac.AssemblyInfo.cs
/Portajel.Mac/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Portajel.Mac.AssemblyInfoInputs.cache
/Portajel.Mac/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Portajel.Mac.GeneratedMSBuildEditorConfig.editorconfig
/Portajel.Mac/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Portajel.Mac.GlobalUsings.g.cs
/Portajel.Mac/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Portajel.Mac.nfloat.g.cs
/Portajel.iOS/obj/Debug/net9.0-ios/iossimulator-x64/Portajel.iOS.AssemblyInfo.cs
/Portajel.iOS/obj/Debug/net9.0-ios/iossimulator-x64/Portajel.iOS.AssemblyInfoInputs.cache
/Portajel.iOS/obj/Debug/net9.0-ios/iossimulator-x64/Portajel.iOS.assets.cache
/Portajel.iOS/obj/Debug/net9.0-ios/iossimulator-x64/Portajel.iOS.csproj.AssemblyReference.cache
/Portajel.iOS/obj/Debug/net9.0-ios/iossimulator-x64/Portajel.iOS.GeneratedMSBuildEditorConfig.editorconfig
/Portajel.iOS/obj/Debug/net9.0-ios/iossimulator-x64/Portajel.iOS.nfloat.g.cs
/Portajel.WinUI/obj/x64/Debug/net9.0-windows10.0.19041.0/win10-x64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Portajel.WinUI/obj/x64/Debug/net9.0-windows10.0.19041.0/win10-x64/Portajel.WinUI.AssemblyInfo.cs
/Portajel.WinUI/obj/x64/Debug/net9.0-windows10.0.19041.0/win10-x64/Portajel.WinUI.AssemblyInfoInputs.cache
/Portajel.WinUI/obj/x64/Debug/net9.0-windows10.0.19041.0/win10-x64/Portajel.WinUI.GeneratedMSBuildEditorConfig.editorconfig
/Portajel.WinUI/obj/x64/Debug/net9.0-windows10.0.19041.0/win10-x64/Portajel.WinUI.GlobalUsings.g.cs
/Portajel.Connections/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Portajel.Connections/obj/Debug/net9.0/Portajel.Connections.AssemblyInfo.cs
/Portajel.Connections/obj/Debug/net9.0/Portajel.Connections.AssemblyInfoInputs.cache
/Portajel.Connections/obj/Debug/net9.0/Portajel.Connections.GeneratedMSBuildEditorConfig.editorconfig
/Portajel.Connections/obj/Debug/net9.0/Portajel.Connections.GlobalUsings.g.cs
/Portajel/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Portajel/obj/Debug/net9.0/Portajel.AssemblyInfo.cs
/Portajel/obj/Debug/net9.0/Portajel.AssemblyInfoInputs.cache
/Portajel/obj/Debug/net9.0/Portajel.assets.cache
/Portajel/obj/Debug/net9.0/Portajel.csproj.AssemblyReference.cache
/Portajel/obj/Debug/net9.0/Portajel.GeneratedMSBuildEditorConfig.editorconfig
/Portajel/obj/Debug/net9.0/Portajel.GlobalUsings.g.cs
/Portajel/obj/Portajel.csproj.nuget.dgspec.json
/Portajel/obj/Portajel.csproj.nuget.g.props
/Portajel/obj/Portajel.csproj.nuget.g.targets
/Portajel/obj/project.assets.json
/Portajel/obj/project.nuget.cache
