################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Portajel.Droid/obj
/Portajel.Mac/obj
/Portajel.iOS/obj
/Portajel.WinUI/obj
/Portajel.Connections/obj
/Portajel/obj

/Portajel.Droid/bin
/Portajel.Mac/bin
/Portajel.iOS/bin
/Portajel.WinUI/bin
/Portajel.Connections/bin
/Portajel/bin