@using PortaJel_Blazor.Data;
@using PortaJel_Blazor;
@using Microsoft.Maui.Controls;
@using PortaJel_Blazor.Pages;
@using PortaJel_Blazor.Pages.Views;
@using PortaJel_Blazor.Classes;

@inject NavigationManager NavigationManager

<div class="containerImg">
    <div class="imageHolder">
        <img src="@backImg" class="albumImage lowRes" />
        <img src="@albumImg" class="albumImage" loading="lazy" @onclick="NavigateToAlbum" @oncontextmenu="OpenContextMenu" />
    </div>

    <p class="albumText" @onclick="NavigateToArtist">
        @if (album.isSong)
        { // Show the little song icon
            <img src="/images/song.svg" />
        }
        else
        {
            <img src="/images/album.svg" />
        }
        @album.name • @album.GetArtistName()
    </p>
</div>

<style>
    .containerImg {
        display: flex;
        flex-direction: column;
        height: auto; /* Change height to 'auto' */
        inline-size: 160px;
        margin-right: 10px;
    }
</style>

@code {
    [Parameter] public Album album { get; set; } = new Album();
    [Parameter] public int? albumResolutionpx { get; set; } = 160;
    string albumText = null;

    private string albumImg { get; set; } = String.Empty;
    private string backImg { get; set; } = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        albumImg = album.imageSrc;
        backImg = album.imageAtResolution(25);
        StateHasChanged();
    }

    private void NavigateToAlbum()
    {
        if (album != null)
        {
            MauiProgram.mainLayout.NavigateAlbum(album.id);
        }
    }
    private void NavigateToArtist()
    {
        if (album == null)
        {
            return;
        }
        if (album.artists.FirstOrDefault() == null)
        {
            return;
        }
        MauiProgram.mainLayout.NavigateArtist(album.artists.FirstOrDefault().id);
    }
    private async void OpenContextMenu()
    {
        MauiProgram.ContextMenuTaskList.Clear();
        MauiProgram.ShowContextMenuImage = true;
        MauiProgram.ContextMenuMainText = album.name;
        MauiProgram.ContextMenuSubText = album.GetArtistName();
        MauiProgram.ContextMenuImage = albumImg;

        MauiProgram.ContextMenuTaskList.Add(new ContextMenuItem("Favourite", "Favourite.png", new Task(() =>
        {

        })));
        MauiProgram.ContextMenuTaskList.Add(new ContextMenuItem("Add To Playlist", "Favourite.png", new Task(() =>
        {

        })));
        MauiProgram.ContextMenuTaskList.Add(new ContextMenuItem("View Artist", "Favourite.png", new Task(() =>
        {
            NavigateToArtist();
        })));

        await MauiProgram.mainLayout.OpenContextMenu();
    }

}