@using PortaJel_Blazor.Data;
@using PortaJel_Blazor.Pages.Views;
@inject NavigationManager NavigationManager

<div class="containerImg">
    <img src="@album.imageSrc" class="albumImage shimmerBG" @onclick="NavigateToAlbum" />
    <p class="albumText" @onclick="NavigateToArtist">@album.name • @album.GetArtistName()</p>
</div>

<style>
    .containerImg{
        display: flex;
        flex-direction: column;
        height: auto; /* Change height to 'auto' */
        inline-size: 160px;
        margin-right: 10px;
    }
</style>

@code {
    [Parameter] public Album album { get; set; } = new Album();
    string albumText = null;

    private async void NavigateToAlbum()
    {
        NavigationManager.NavigateTo($"/AlbumView/{album.id}");
    }
    private async void NavigateToArtist()
    {
        NavigationManager.NavigateTo($"/ArtistView/{album.id}");
    }


}
