@using PortaJel_Blazor.Data;
@using PortaJel_Blazor;
@using Microsoft.Maui.Controls;
@using PortaJel_Blazor.Pages;
@using PortaJel_Blazor.Pages.Views;
@using PortaJel_Blazor.Classes;

@inject NavigationManager NavigationManager

<div class="containerImg">
    <div class="imageHolder">
        <img src="@backImg" class="albumImage lowRes" />
        <img src="@albumImg" class="albumImage" loading="lazy" @onclick="NavigateToAlbum" @oncontextmenu="OpenContextMenu" onerror="this.src='/images/emptyAlbum.png'" />
    </div>

    @if(musicObject != null)
    {
        <p class="albumText" @onclick="NavigateToAlbum">
            @if (musicObject is Song)
            { // Show the little song icon
                <img src="/images/song.svg" />
            }
            else
            {
                <img src="/images/album.svg" />
            }
            @musicObject.name • @artistName
        </p>
    }
</div>

<style>
    .containerImg {
        display: flex;
        flex-direction: column;
        height: auto; /* Change height to 'auto' */
        inline-size: 160px;
        margin-right: 10px;
    }
</style>

@code {
    [Parameter] public BaseMusicItem musicObject { get; set; } = new Album();
    [Parameter] public int? albumResolutionpx { get; set; } = 160;
    string albumText = null;
    string? artistName = null;

    private int resolution = 250;

    private string albumImg { get; set; } = String.Empty;
    private string backImg { get; set; } = String.Empty;


    protected override void OnInitialized()
    {
        if(musicObject != null)
        {
            albumImg = musicObject.image.SourceAtResolution(resolution);
            backImg = musicObject.image.SourceAtResolution(25);

            if (musicObject is Album)
            {
                Album album = (Album)musicObject;
                artistName = album.artistCongregate;
            }
            if (musicObject is Song)
            {
                Song song = (Song)musicObject;
                artistName = song.artistCongregate;
            }
            StateHasChanged();
        }
    }

    private void NavigateToAlbum()
    {
        if (musicObject != null)
        {
            if (musicObject is Album)
            {
                Album album = (Album)musicObject;
                MauiProgram.mainLayout.NavigateAlbum(album.id);
            }
            if (musicObject is Song)
            {
                Song song = (Song)musicObject;
                Album? album = song.album;
                if(album != null)
                {
                    MauiProgram.mainLayout.NavigateAlbum(album.id);
                }
            }
        }
    }

    private async void OpenContextMenu()
    {
        MauiProgram.ContextMenuTaskList.Clear();
        MauiProgram.ShowContextMenuImage = true;

        if (musicObject is Album)
        {
            Album album = (Album)musicObject;
            MauiProgram.ContextMenuMainText = album.name;
            MauiProgram.ContextMenuSubText = album.artistCongregate;
            MauiProgram.ContextMenuImage = albumImg;
            MauiProgram.ContextMenuTaskList = album.GetContextMenuItems();
            MauiProgram.ContextMenuRoundImage = false;
        }
        else if (musicObject is Artist)
        {
            Artist artist = (Artist)musicObject;
            MauiProgram.ContextMenuTaskList = artist.GetContextMenuItems();
            MauiProgram.ContextMenuMainText = artist.name;
            MauiProgram.ContextMenuSubText = String.Empty;
            MauiProgram.ContextMenuImage = albumImg;
            MauiProgram.ContextMenuRoundImage = true;
        }
        else if (musicObject is Playlist)
        {
            Playlist playlist = (Playlist)musicObject;
            MauiProgram.ContextMenuTaskList = playlist.GetContextMenuItems();
            MauiProgram.ContextMenuImage = albumImg;
            MauiProgram.ContextMenuSubText = String.Empty;
            MauiProgram.ContextMenuMainText = playlist.name;
            MauiProgram.ContextMenuRoundImage = false;
        }
        else if (musicObject is Song)
        {
            Song song = (Song)musicObject;
            //MauiProgram.ContextMenuTaskList = song.GetContextMenuItems();
            MauiProgram.ContextMenuImage = albumImg;
            MauiProgram.ContextMenuSubText = song.artistCongregate;
            MauiProgram.ContextMenuMainText = song.name;
            MauiProgram.ContextMenuRoundImage = false;
        }
        else if (musicObject != null)
        {
            MauiProgram.ContextMenuMainText = musicObject.name;
            MauiProgram.ContextMenuImage = albumImg;
            MauiProgram.ContextMenuRoundImage = false;
        }

        await MauiProgram.mainPage.ShowContextMenu();
        await Task.Run(() =>
        {
            // Literally just waiting for the fucking thing to close before we refresh
            while (MauiProgram.ContextMenuIsOpen == true)
            {

            }
        });
        StateHasChanged();
    }

}