@using PortaJel_Blazor.Data;
@using PortaJel_Blazor;
@using Microsoft.Maui.Controls;
@using PortaJel_Blazor.Pages;
@using PortaJel_Blazor.Pages.Views;

@inject NavigationManager NavigationManager

<div class="containerImg">
    <div class="albumImage shimmerBG ">
@*        <img src="@album.imageSrc" class="albumImage shimmerBG" @onclick="NavigateToAlbum" @oncontextmenu="NavigateToAlbum" />
        *@<img src="@albumImg" class="albumImage shimmerBG" loading="lazy" @onclick="NavigateToAlbum" @oncontextmenu="NavigateToAlbum" />
    </div>

    <p class="albumText" @onclick="NavigateToArtist">
        @if (album.isSong)
        { // Show the little song icon 
            <img src="/images/song.svg" />
        }
        else
        {
            <img src="/images/album.svg" />
        }
        @album.name • @album.GetArtistName()
    </p>
</div>

<style>
    .containerImg{
        display: flex;
        flex-direction: column;
        height: auto; /* Change height to 'auto' */
        inline-size: 160px;
        margin-right: 10px;
    }
</style>

@code {
    [Parameter] public Album album { get; set; } = new Album();
    [Parameter] public int? albumResolutionpx { get; set; } = 160;
    string albumText = null;

    private string albumImg { get; set; } = String.Empty;
    private string backImg { get; set; } = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        albumImg = album.imageSrc;
        backImg = album.imageAtResolution(25);
        StateHasChanged();
    }

    private void NavigateToAlbum()
    {
        if (album != null)
        {
            MauiProgram.mainLayout.NavigateAlbum(album.id);
        }
    }
    private void NavigateToArtist()
    {
        if(album == null)
        {
            return;
        }
        if (album.artists.FirstOrDefault() == null)
        {
            return;
        }
        MauiProgram.mainLayout.NavigateArtist(album.artists.FirstOrDefault().id);
    }
    private void ShowContextMenu()
    {
        MauiProgram.mainLayout.itemContextMenu.ShowMenu();
    }
}
