.albumContainer {
    display: flex;
    flex-direction: column;
    height: auto; /* Change height to 'auto' */
    inline-size: 160px;
    margin-right: 10px;
}
.albumText img {
    vertical-align: middle;
    height: 1rem;
    margin-right: 0.25rem; /* Adjust this value to control the spacing between the image and text */
}

p.albumText {
    font-size: 14px;
    word-wrap: break-word;
    color: darkgray;
    white-space: pre-line; /* Allow text to break onto multiple lines */
    overflow: hidden; /* Add this line to hide overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display before ellipsis */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; /* Add this line to add ellipsis for long text */
}
.albumImage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.imageHolder {
    overflow: hidden;
    position: relative;
    width: 160px;
    max-width: 160px;
    height: 160px;
    border-radius: 0.4rem;
    margin-right: 10px;
    background-color: darkgrey;
}
.lowRes {
    overflow: hidden;
    filter: blur(15px);
}
/* style this to fit your needs */
/* and remove [alt] to apply to all images*/
img:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    opacity: 1;
    line-height: 2;
    text-align: center;
    content: attr(alt);
}
