@if (showController)
{
    <div class="music-player">
        <img src="" alt="Album Cover" class="album-image">
        <div class="song-info">
            <div class="song-name">Song Name</div>
            <div class="artist-name">Artist Name</div>
        </div>
        <div class="control-buttons">
            <img src="play-button.png" alt="Play" class="control-button">
            <img src="like-button.png" alt="Like" class="control-button">
        </div>
    </div>
}

@code {
    private bool showController = true;
}
