@namespace PortaJel_Blazor.UI.Index
@using PortaJel_Blazor.Data;

<li class="music-item" @onclick=NavigateToAlbum @oncontextmenu=OpenContextMenu>
    <div class="image-container">
        <img class="album-image album-cover-img opacityTransition"
             src="@musicItem.image.SourceAtResolution(100)"
             loading="lazy"
             onerror="this.src='/images/emptyAlbum.png'" />
        <img class="album-image-placeholder"
             src="data:image/png;base64, @placeholderBase64" 
             onerror="this.style.opacity=0" />
    </div>
    <div class="music-details">
        @if(musicItem is Album)
        {
            Album album = (Album)musicItem;
            string artistName = "• " + album.artistCongregate;
            <b>@album.name</b> @artistName;
        }   
    </div>
</li>

@code {
    [Parameter] public BaseMusicItem musicItem { get; set; } = new Album();
    [Parameter] public string placeholderBase64 { get; set; } = String.Empty;

    private void NavigateToAlbum()
    {
        if (musicItem != null)
        {
            MauiProgram.webView.NavigateAlbum(musicItem.id);
        }
    }
    private void NavigateToArtist()
    {
        if (musicItem != null)
        {
            // TODO: Update to artist ID
            MauiProgram.webView.NavigateArtist(musicItem.id);
        }
    }
    private async void OpenContextMenu()
    {
        await MauiProgram.mainPage.OpenContextMenu(musicItem, 250);
        await Task.Run(() =>
        {
            // Literally just waiting for the fucking thing to close before we refresh
            while (MauiProgram.ContextMenuIsOpen == true)
            {

            }
        });
        StateHasChanged();
    }
}
