@page "/AlbumView/{albumId}"

<h3>AlbumView</h3>
<p>@albumId</p>

@code {
    [Parameter] public string albumId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        MauiProgram.contentPage = true;
        MauiProgram.contentTitle = "This is an Album";

        MauiProgram.mainLayout.UpdateState();
    }
}

