@using PortaJel_Blazor.Data;
@page "/AlbumView/{albumId}"

<div class="imageContainer">
    @if(album != null)
    {
        <img src="@album.imageSrc" class="albumImage" />
    }
    else
    {
        <img src="" class="albumImage" />
    }
</div>

@if(album!=null)
{
    <h1>@album.name</h1>
    <h3>@album.GetArtistName()</h3>

    foreach (var item in album.songs)
    {
        <p>@item.name</p>
    }
}

@code {
    [Parameter] public string albumId { get; set; }

    private Album album { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        MauiProgram.mainLayout.showHeader = false;

        Guid parseId = Guid.Parse(albumId);
        if (albumId != null)
        {
            album = await MauiProgram.servers[0].FetchAlbumByIDAsync(parseId);
            StateHasChanged();
        }
    }

    private void GoBack()
    {
        // goBack.GoBackInTime();
    }
}

