.artistInfoContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    margin: 0 1rem 0 1rem;
}
.backgroundImgContainer {
    width: 100vw;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    top: -1rem;
    z-index: -10;
    background-size: cover;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    display: flex;
}

.additional-info {
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: height 1s ease; /* Added transition */
}
    .additional-info.expanded {
        overflow: visible;
        height: auto !important;
    }

.additional-info-text {
    font-size: 1rem;
    background: -webkit-linear-gradient(#eee, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease, -webkit-background-clip 0.3s ease, -webkit-text-fill-color 0.3s ease; /* Added transition */
}

.GoBackImg {
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.album-cover-img {
    /* functionally does nothing*/
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.artistImgContainer {
    border-radius: 50%;
    position: relative;
    width: 40%;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    z-index: 10;
    object-fit: cover;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}
.artistImgPlaceholder {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    border-radius: 50%;
}
.artistImg {
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
    z-index: 10;
}
.artistNameContainer {
    width: 60%;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}
.artistName {
    font-size: 2rem;
    text-align:center;
    margin: auto;
    width: fit-content;
}
.logoImgContainer{
    position: relative;
    display: flex;
}
.logoImg {
    margin: auto;
    width: 90%;
    height: auto;
    opacity: 0;
}
.logoImgPlaceholder {
    margin: auto;
    width: 90%;
    height: auto;
    position: absolute;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
}

.backgroundImg {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
}
.backgroundImgPlaceholder {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}
.artistImgHolder {
    width: 100vw;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -10;
    background-size: cover;
}
.artistLogo {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
.logoContainer {
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.headerSpacer{
    aspect-ratio: 1/0.6;
    width: 100%;
    height: 50%;
}




/* Container for the buttons with horizontal scroll */
.button-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

/* Style for each button */
.filter-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

    /* Style for the selected button */
    .filter-button.selected {
        border-color: #007bff; /* Change to the desired selected color */
    }

/* Container for the list of albums */
.album-list {
    margin: 0 1rem 0 1rem;
}

/* Individual album container */
.album-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style for the album cover image */
.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
}

/* Style for the album name */
.album-name {
    font-weight: bold;
}

/* Style for the album artist */
.album-artist {
    color: gray;
}

/* Style for the favorite button */
.favorite-button {
    margin-left: auto;
    cursor: pointer;
}

.tool-container {
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.tools-icon {
    width: 1.75rem;
    height: 1.75rem;
    user-select: none;
    cursor: pointer;
}

.tools-text {
    margin: 0;
    padding: 0;
    display: inline;
    user-select: none;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
}

.pagination-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.pagination-scroll {
    overflow-x: scroll;
}

.pagination {
}

.pagination-item {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/ 1;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

    .pagination-item.active {
        width: 60px;
        height: 60px;
        border-color: blue;
        margin: 0;
    }

.grid-pgnator-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 60px auto; /* 1fr for the first and third columns to fill remaining space */
    overflow-x: hidden;
    justify-content: unset;
    width: calc(100vw - 48px); /*Really shit but ehhhhh it works ????? kind of ???? */
}

.grid-pgnator-items-l {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    min-width: calc(50vw - 60px);
}

.grid-pgnator-items-r {
    display: flex;
    align-items: center;
    min-width: calc(50vw - 60px);
}
.playback-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
    /*    width: 100vw;
    height: 5rem;
    display: flex;*/
}

.playback-controls-container {
    display: flex;
}

.playback-controls-btn {
    aspect-ratio: 1/1;
    height: 3rem;
    min-height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playback-controls-btn-img {
    height: 2rem;
    width: 2rem;
}

.playbtn {
    background-color: lightgray;
    border-radius: 50%;
}

.favbtn {
    color: red;
}

