@page "/ArtistView/{artistId}"

<div class="centerItems">
    <h3>ArtistView</h3>
    <p>@artistId</p>
</div>

@code {
    [Parameter] public string artistId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        MauiProgram.mainLayout.pageTitle = "Artist View";
        MauiProgram.mainLayout.currentUri = $"/ArtistView/{artistId}";
        MauiProgram.mainLayout.showHeader = false;
        MauiProgram.mainLayout.isLoading = false;
    }
}