<h3>@exception.Message</h3>

@exception.StackTrace

@exception.Data

@exception.InnerException

@code {
    [Parameter] public Exception? exception { get; set; } = null;

    protected override void OnInitialized()
    {
        if (exception == null)
        {
            MauiProgram.WebView.NavigateHome();
        }
    }
}
