<h3>@exception.Message</h3>

<p class="PrimaryTextColor">@exception.StackTrace</p>
<p class="SecondaryTextColor">@exception.Data</p>
<p class="SecondaryTextColor">@exception.InnerException</p>

@code {
    [Parameter] public Exception? exception { get; set; } = null;

    protected override void OnInitialized()
    {
        if (exception == null)
        {
            MauiProgram.WebView.NavigateHome();
        }
    }
}
