.hr {
    border-top: 0px;
}

h5 {
    font-weight: normal;
}

.album-cover-img {
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide the full image initially */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
    z-index: 1;
}

.transitionOpacity {
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    pointer-events: none;
    top: -30px;
    width: 70%; /* Adjust as needed */
    height: 70%; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    aspect-ratio: 1/1;
}

.placeholder {
    width: 100%;
    height: auto;
    z-index: 0;
    border-radius: 0.5rem;
}

.full-size {
}

.artistInfo {
    display: flex;
    font-size: 1.1rem;
    color: darkgray;
    margin: 0 1rem 0.5rem 1rem;
    cursor: pointer !important;
}

.artistInfoText {
    margin: auto 0rem auto 1rem;
}

.user-profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #3498db; /* Blue background color, you can change this */
    margin-right: 10px;
}

h3 {
    color: darkgray;
}

centerItems {
    display: flex;
    align-items: center;
    /*    image-orientation
*/ justify-content: center;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.GoBackButton {
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer !important;
    z-index: 3;
}

.GoBackImg {
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.background-container {
    position: fixed;
    top: -1rem;
    z-index: -10;
}

.background-blur {
    position: absolute;
    top: -5rem;
    z-index: -10;
    width: 100vw;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.artistInfoImg {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
}

.item-title {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin: 0rem 1rem 0.25rem 1rem;
    align-items: center;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-control {
    background-color: lightgray;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 4rem;
    min-height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title-control-img {
    height: 80%;
    width: 80%;
}

.playback-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 0.5rem 1rem;
}

.playback-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playback-controls-btn {
    aspect-ratio: 1/1;
    height: 3rem;
    min-height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playback-controls-btn-img {
    height: 2rem;
    width: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.playbtn {
    background-color: lightgray;
    border-radius: 50%;
}

.favbtn {
    color: red;
}

/* Artist reccomedation styling */
.recommended-artists {
    max-width: 100%;
    overflow-x: auto;
}

.artists-list {
    display: flex;
    flex-wrap: nowrap; /* Ensure artists stay in a single row */
}

.artist {
    flex: 0 0 auto; /* Don't allow artists to shrink or grow */
    margin-right: 20px; /* Adjust spacing between artists */
    max-width: 100px;
}

.artist-image {
    width: 100px; /* Adjust the size of the circle */
    height: 100px; /* Adjust the size of the circle */
    border-radius: 50%; /* Create a circle */
    background-color: #ccc; /* Placeholder color for the image */
}

.artist-name {
    text-align: center; /* Center the artist name */
    margin-top: 5px; /* Adjust spacing between image and name */
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .artist {
        margin-right: 10px; /* Adjust spacing between artists for smaller screens */
    }

    .artist-image {
        width: 100px; /* Adjust size of circle for smaller screens */
        height: 100px; /* Adjust size of circle for smaller screens */
    }
}
