@using PortaJel_Blazor.Classes;
@using Microsoft.Maui.Controls;
@using BlazorAnimate;
@page "/downloads"

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)">
    <!-- Settings for connecting to a Jellyfin server -->
    <div>

    </div>
</Animate>

@code {
    protected override async Task OnInitializedAsync()
    {
        MauiProgram.WebView.pageTitle = "Downloads";
        MauiProgram.WebView.currentUri = "/downloads";
        MauiProgram.WebView.showHeader = true;
        
        MauiProgram.MainPage.ShowLoadingScreen(false);
        MauiProgram.WebView.isLoading = false;
    }
}
