@using PortaJel_Blazor.Classes;
@using Microsoft.Maui.Controls;
@using BlazorAnimate;
@page "/downloads"

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)">
    <!-- Settings for connecting to a Jellyfin server -->
    <div>

    </div>
</Animate>




@code {
    protected override async Task OnInitializedAsync()
    {
        MauiProgram.mainLayout.pageTitle = "Downloads";
        MauiProgram.mainLayout.currentUri = "/downloads";
        MauiProgram.mainLayout.showHeader = true;

        await Task.Run(() => { Thread.Sleep(250); });
        MauiProgram.mainLayout.isLoading = false;
    }
}
