/* Container for the buttons with horizontal scroll */
.button-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

/* Style for each button */
.filter-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

    /* Style for the selected button */
    .filter-button.selected {
        border-color: #007bff; /* Change to the desired selected color */
    }

/* Style for each button */
.filter-button {

}

    /* Style for the selected button */
    .filter-button.selected {
    }

/* Container for the list of albums */
.album-list {
    width: 100%;
}

/* Individual album container */
.album-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style for the album cover image */
.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 2px;
}
.img-container {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Style for the album name */
.album-name {
    font-weight: bold;
}

/* Style for the album artist */
.album-artist {
    color: gray;
}

/* Style for the favorite button */
.favorite-button {
    margin-left: auto;
    cursor: pointer;
}
.tool-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.tools-icon {
    width: 1.75rem;
    height 1.75rem;
    user-select: none;
    cursor: pointer;
}

.tools-text {
    margin: 0;
    padding: 0;
    display: inline;
    user-select: none;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
}