/* CSS for the list container */
.music-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 0.45rem;
    list-style: none;
    padding: 0;
    margin: 0 1rem 0 1rem;
}

.search-list {
    margin: 0 1rem 0 1rem;
}

/* CSS for each list item */
.music-item {
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 80px; /* Adjust as needed */
}

/* CSS for the album image */
.album-image {
    min-width: 3.6rem;
    min-height: 3.6rem;
    max-width: 3.5rem;
    max-height: 3.5rem;
    margin-right: 0.5rem;
}
image-container div {
    width: 3.6rem;
    height: 3.6rem;
    overflow: hidden;
}

/* CSS for the text content */
.music-details {
    color: #555;
    font-size: 0.8rem;
    white-space:pre-line; /* Allow text to wrap onto multiple lines */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the text to 2 lines */
    -webkit-box-orient: vertical;
}

/* CSS for the album title */
.album-title {
    font-weight: bold;
    margin: 0;
}

.artist-name {
    margin: 0;
    font-size: 0.8rem;
}

img:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    opacity: 1;
    line-height: 2;
    text-align: center;
    content: none;
    overflow: hidden;
/*    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);*/
    background-size: 1200px 100%;
    /*    animation: shimmer 1.5s infinite linear;
*/
}

.centreItems {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* This makes the parent take the full height of the viewport */
}
#centerall {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 3rem;
    height: 100vh;
}

/* Horizontal scroll view styling */
.horizScroll-scrollmenu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap; /* Prevent items from wrapping */
    min-height: 13rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    .horizScroll-scrollmenu::-webkit-scrollbar {
        display: none;
    }

.horizScroll-scrollmenu-showall {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-height: 160px;
}

.horizScroll-showall-img {
    margin-left: 0.25rem;
    height: 1.5rem;
}

.horizScroll-menuTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .horizScroll-menuTitleContainer h3:first-child {
        flex: 1;
        text-align: left;
    }

    .horizScroll-menuTitleContainer h3:last-child {
        text-align: right;
    }

.horizScroll-albumContainer {
    width: 160px;
    height: 160px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: darkgrey;
    flex-shrink: 0;
    position: relative;
    animation: shimmer 1.5s infinite linear;
}

.searchBar {
    margin: 1rem 1rem 0 1rem;
    width: calc(100vw - 2rem);
    padding-left: 16px;
    border: 0px solid #555;
    height: 56px;
    border-radius: 28px;
    outline: none;
    background-size: 1.5rem;
}