/* Container for the buttons with horizontal scroll */
.button-container {
    width: 100vw;
    height: 3rem;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    position: sticky;
    z-index: 1000;
    /* display: flex; */    
    top: 0;
}

.boxed label {
    display: inline-block;
    padding: 0;
    align-content: center;
    margin-top: auto;
    border-bottom: solid 3px #101010;
    transition: all 0.3s;
    text-align: center;
    width: 30vw;
    height: 100%;
}

.boxed input[type="radio"] {
    display: none;
}

    .boxed input[type="radio"]:checked + label {
        border-bottom: solid 3px #007bff;
    }

hr{
    height: 0px;
    margin: 0.5rem;
}
/* Style for each button */
.filter-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

    /* Style for the selected button */
    .filter-button.selected {
        border-color: #007bff; /* Change to the desired selected color */
    }

/* Container for the list of albums */
.album-list {
    margin: 0 1rem 0 1rem;
}

/* Individual album container */
.album-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style for the album cover image */
.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
}

/* Style for the album name */
.album-name {
    font-weight: bold;
}

/* Style for the album artist */
.album-artist {
    color: gray;
}

/* Style for the favorite button */
.favorite-button {
    margin-left: auto;
    cursor: pointer;
}
.tool-container {
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.tools-icon {
    width: 1.75rem;
    height: 1.75rem;
    user-select: none;
    cursor: pointer;
}

.tools-text {
    margin: 0;
    padding: 0;
    display: inline;
    user-select: none;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
}

.pagination-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.pagination-scroll {
    overflow-x: scroll;
}

.pagination {

}

.pagination-item {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/ 1;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

    .pagination-item.active {
        width: 60px;
        height: 60px;
        border-color: blue;
        margin: 0;
    }

.grid-pgnator-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 60px auto; /* 1fr for the first and third columns to fill remaining space */
    overflow-x: hidden;
    justify-content: unset;
    width: calc(100vw - 48px); /*Really shit but ehhhhh it works ????? kind of ???? */
}
.grid-pgnator-items-l {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    min-width: calc(50vw - 60px);
}
.grid-pgnator-items-r {
    display: flex;
    align-items: center;
    min-width: calc(50vw - 60px);
}
.quickplay-container {
    margin: 1rem 1rem 0 1rem;
    display: flex;

}

.quickplay-button {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
}

