.search {

    .input {
        margin: 1rem 1rem 0 1rem;
        width: calc(100vw - 2rem);
        padding-left: 16px;
        border: 0px solid #555;
        height: 56px;
        border-radius: 0.5rem;
        outline: none;
        background-size: 1.5rem;
    }
    
    .spinner {
        margin-left: auto;
        margin-right: auto;
    }
    

}

.chips {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.searchResponse{
    margin: 0 1rem;
}

/* Container for the list of albums */
.album-list {
    width: 100%;
}

/* Individual album container */
.album-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style for the album cover image */
.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 2px;
}
.img-container {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Style for the album name */
.album-name {
    font-weight: bold;
}

/* Style for the album artist */
.album-artist {
    color: gray;
}

/* Style for the favorite button */
.favorite-button {
    margin-left: auto;
    cursor: pointer;
}