/* Styles for the connection boxes */
.connection-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.connection-details {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.user-profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #3498db; /* Blue background color, you can change this */
    margin-right: 10px;
}

.user-profile-name {
    color: black;
    font-size: 1.25rem;
}

.user-profile-connection {
    color: darkgray;
    font-size: 1rem;
}
/* Styles for the title and add button */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.add-button {
    padding: 5px 10px;
    background-color: #2ecc71; /* Green button color, you can change this */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-button {
    height: 100%;
}

.reconnect-button {
    width: 100%;
}

.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .checkbox-wrapper-22 .switch input {
        display: none;
    }

.checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .checkbox-wrapper-22 .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

.checkbox-wrapper-22 input:checked + .slider {
    background-color: #66bb6a;
}

    .checkbox-wrapper-22 input:checked + .slider:before {
        transform: translateX(26px);
    }

.checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
}

    .checkbox-wrapper-22 .slider.round:before {
        border-radius: 50%;
    }