@page "/settingsconnections"

<!-- Hide M3U Playlists -->
<div class="header">
    <p>Offline Mode</p>
    <!-- Rounded switch -->
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<div class="header">
    <div class="title">Connections</div>
    <button class="add-button" @onclick=AddConnection>Add</button>
</div>

@foreach (var serverConnector in MauiProgram.Server.GetServers())
{
    <div class="connection-container">
        <div class="connection-details">
            <div class="user-profile">
                <img class="user-profile-img" src="@serverConnector.GetProfileImageUrl()" onerror="this.src='/images/avatar.png'" />
            </div>
            <div>
                <div class="user-profile-name">@serverConnector.GetUsername()</div>
                <div class="user-profile-connection">@serverConnector.GetAddress()</div>
            </div>
        </div>
        <button class="remove-button" @onclick="() => DeleteConnection(serverConnector.GetAddress())">Remove</button>
    </div>
}
@if (!MauiProgram.isConnected)
{
    <button class="reconnect-button">Reconnect</button>
}

@code {
    private bool ForceOffline = false;

    protected override void OnInitialized()
    {
        MauiProgram.WebView.pageTitle = "Connections";
        MauiProgram.WebView.currentUri = "/settingsconnections";
        MauiProgram.WebView.showHeader = true;

        MauiProgram.WebView.isLoading = false;
        MauiProgram.MainPage.ShowLoadingScreen(false);
    }

    public void DeleteConnection(string baseAddress)
    {

    }

    public void AddConnection()
    {
        
    }
}
