@using Jellyfin.Sdk;
@using PortaJel_Blazor.Shared.Music_Displays;
@using PortaJel_Blazor.Data;
@using BlazorAnimate

<div>
    <div class="menuTitleContainer">
        <h3>@Title</h3>
        <div style="display: flex;">
            View All
            <img src="/images/showgrid.svg" class="showall-img">
        </div>
    </div>

    <div class="scrollmenu">
        @for (int i = 0; i < itemCount; i++)
        {
            if (albumData != null && albumData.Count() >= itemCount)
            {
                BaseMusicItem showRecord = albumData[i];
                <AlbumCard musicObject="showRecord" />
            }
            else
            {
                <AlbumCard musicObject="null" />
            }
        }
        <div class="scrollmenu-showall">
            <p style="margin: 1rem; color: darkgray;">Show All</p>
        </div>
    </div>
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public BaseMusicItem[] albumData { get; set; } = new BaseMusicItem[0];
    [Parameter] public int itemCount { get; set; } = 0;

    private List<BaseItemKind> acceptedTypes = new List<BaseItemKind>
    {
        BaseItemKind.MusicAlbum,
        BaseItemKind.Audio
    };
}
