.albumSongItem {
    display: flex;
    overflow-x: scroll!important;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100vw;
}

.infoContainer {
    margin: 0.25rem 0 0.25rem 0;
    display: flex;
    flex-direction: row;
    height: auto;
    inline-size: 160px;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
    overflow: clip;
    padding: 0 1rem 0rem 1rem;
}

.overscroll-25vw {
    display: flex;
    min-width: 25vw;
}

.overscroll-auto {
    display: flex;
}

.songTextContainer {
    text-align: start;
    transform: scale(1);
    background: none;
    margin: auto 0 auto 0;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.25s;
    max-width: 80%;
    text-overflow: clip;
    overflow: clip;
}
    .songTextContainer:active {
        transform: scale(0.95);
        transition: 0s;
    }

.songTitle {
    color: black;
    font-size: 1rem;
    margin-bottom: 0px !important;
    max-width: inherit;
}

.songArtistTitle {
    color: darkgray;
    font-size: 0.95rem;
    margin: 0;
    text-overflow: clip;
}

.songitem-options {
    margin-left: auto;
    display: flex;
}
.songitem-optionbtn {
    margin: auto auto auto 0.5rem;
}
.playback-controls-btn-img {
    height: 3rem;
    width: 3rem;
}