@using Jellyfin.Sdk;
@using PortaJel_Blazor.Shared.Music_Displays;
@using PortaJel_Blazor.Data;

@if(albumData != null)
{
    <div>
        <div class="menuTitleContainer">
            <h3>@Title</h3>
            <div style="display: flex;">
                View All
                <img src="/images/showgrid.svg" class="showall-img">
            </div>

        </div>

        <div class="scrollmenu">
            @foreach (var item in albumData)
            {
                <AlbumCard album="item" />
            }
            <div class="scrollmenu-showall">
                <p style="margin: 1rem; color: darkgray;">Show All</p>
            </div>
        </div>
    </div>
}


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter] public string Title { get; set; }
    [Parameter] public Album[] albumData { get; set; }

    private List<BaseItemKind> acceptedTypes = new List<BaseItemKind>
    {
        BaseItemKind.MusicAlbum,
        BaseItemKind.Audio
    };
}
