<div>
    <div class="menuTitleContainer">
        <h3>@Title</h3>
        <h3 style="justify-self:flex-end">View All</h3>
    </div>

    <div class="scrollmenu">
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
