.music-item {
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.8rem;
    user-select: none;
}
image-container {
    width: 3.8rem;
    height: 3.8rem;
    overflow: hidden;
    user-select: none;
    display: grid !important;
}
.album-image {
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 0.5rem;
    user-select: none;
}
.album-cover-img{
    opacity: 0;
    z-index: 10;
}
.opacityTransition {
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}
.album-image-placeholder {
    min-width: 3.8rem;
    min-height: 3.8rem;
    max-width: 3.5rem;
    max-height: 3.5rem;
    margin-right: 0.5rem;
    user-select: none;
    position: absolute;
    z-index: 0;
    border-radius: 0.5rem 0px 0px 0.5rem;
}
.music-details {
    color: #555;
    font-size: 0.8rem;
    white-space: pre-line; /* Allow text to wrap onto multiple lines */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the text to 2 lines */
    -webkit-box-orient: vertical;
    user-select: none;
}
div {
    user-select: none
}
b {
    user-select: none
}