@using PortaJel_Blazor.Shared.Music_Displays;

<div>
    <div class="menuTitleContainer">
        <h3>@Title</h3>
        <h5>View All</h5>
    </div>

    <div class="scrollmenu">
        <AlbumCard ImageSrc="images/cd.svg" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa & The Mothers of Invention"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
        <AlbumCard ImageSrc="test" AlbumName="Absolutely Free" ArtistName="Frank Zappa"/>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
