<div>
    <h3>@Title</h3>
    
    <div class="scrollmenu">
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
        <div class="albumContainer shimmerBG" />
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
