@using Jellyfin.Sdk;
@using PortaJel_Blazor.Shared.Music_Displays;
@using PortaJel_Blazor.Data;
@using BlazorAnimate

<div>
    <div class="menuTitleContainer">
        <h3>@Title</h3>
        <div style="display: flex;">
            View All
            <img src="/images/showgrid.svg" class="showall-img">
        </div>
    </div>

    <div class="scrollmenu">
        @for (int i = 0; i < itemCount; i++)
        {
            itemFadeInDelay += 0.1f;

            Album showRecord = new();

            if (albumData != null)
            {
                if(i < albumData.Count())
                {
                    showRecord = albumData[i];
                }
            }
            <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(itemFadeInDelay)">
                <AlbumCard album="showRecord" />
            </Animate>          
        }
        <div class="scrollmenu-showall">
            <p style="margin: 1rem; color: darkgray;">Show All</p>
        </div>
    </div>
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter] public string Title { get; set; }
    [Parameter] public Album[] albumData { get; set; }
    [Parameter] public int itemCount { get; set; }

    private float itemFadeInDelay = 0;

    private List<BaseItemKind> acceptedTypes = new List<BaseItemKind>
    {
        BaseItemKind.MusicAlbum,
        BaseItemKind.Audio
    };
}
