@using Jellyfin.Sdk;
@using PortaJel_Blazor.Shared;
@using BlazorAnimate
@using PortaJel_Blazor.Classes.Data
@namespace PortaJel_Blazor.Shared

<div>
    <h3 class="PrimaryTextColor TitleText">@Title</h3>
    
    <div class="horizScroll-scrollmenu">
        @if (AlbumData is { Length: > 0 })
        {
            @for (int i = 0; i < AlbumData.Count(); i++)
            {
                int delay = 0;
                for (int j = 0; j < i; j++)
                {
                    delay += 50;
                }
                BaseMusicItem item = AlbumData[i];
                <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.4)" Delay="TimeSpan.FromMilliseconds(delay)">
                    <AlbumCard musicObject="@item" placeholderBase64="@item.ImgBlurhashBase64" />
                </Animate>
            }
            <div class="horizScroll-scrollmenu-showall">
                <p style="margin: 1rem; color: darkgray;">Show All</p>
            </div>
        }
        else if (ShowLoading)
        {
            <div class="horizScroll-loadingIcon">
                <Spinner Style="width: 3rem; height: 3rem; margin: auto;"></Spinner>
            </div>
        }
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter] public string Title { get; set; } = String.Empty;
    [Parameter] public BaseMusicItem[] AlbumData { get; set; } = new BaseMusicItem[0];
    [Parameter] public bool ShowLoading { get; set; } = false;
}
