/* Style the container */
.horizScroll-scrollmenu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap; /* Prevent items from wrapping */
    min-height: 13rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 3.5rem;
}
    .horizScroll-scrollmenu::-webkit-scrollbar {
        display: none;
    }
.horizScroll-scrollmenu-showall {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-height: 160px;
}
.horizScroll-showall-img {
    margin-left: 0.25rem;
    height: 1.5rem;
}

.horizScroll-menuTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1rem 0 1rem;
}
    .horizScroll-menuTitleContainer h3:first-child {
        flex: 1;
        text-align: left;
    }
    .horizScroll-menuTitleContainer h3:last-child {
        text-align: right;
    }

.horizScroll-albumContainer {
    width: 160px;
    height: 160px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: darkgrey;
    flex-shrink: 0;
    position: relative;
    animation: shimmer 1.5s infinite linear;
}

.horizScroll-loadingIcon {
    width: 100%;
    display: flex;
    align-content:center;
}