@using PortaJel_Blazor.Classes
@using PortaJel_Blazor.Classes.Enum
<div style="@($"margin:{Margin}rem")" id="libraryToolbar" class="tool-container">
    @foreach (var filter in Filters)
    {
        @if (_selected.Type == filter.Type)
        {
            <input checked type="radio" id="playlists" name="skills" value="Playlists" @onclick="() => SelectFiter(filter.Type)">
        }
        else
        {
            <input type="radio" id="playlists" name="skills" value="Playlists" @onclick="() => SelectFiter(filter.Type)">
        }
        <label class="PrimaryTextColor" for="playlists">Playlists</label>
    }
</div>

@code {
    [Parameter] public int Margin { get; set; } = 1;
    [Parameter] public FilterItem[] Filters { get; set; } = [];
    private FilterItem _selected;

    protected override void OnParametersSet()
    {
        if (Filters.Any())
        {
            _selected = Filters.First();
        }
        base.OnParametersSet();
    }

    private void SelectFiter(ConnectorDtoTypes type)
    {
        
    }
}