<h3>Add server connection</h3>

<form>
    <input type="text" name="serverAddress"/>
    <br />
    <input type="text" name="Username" />
    <br />
    <input type="text" name="Password" />
    <br />
    <input type="submit" value="Login"/>
</form>

@code {

}
