.page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row-title{
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    color:black;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    /*justify-content: flex-end;*/
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10; /* set lower z-index value */
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row div:last-child {
        text-align: right;
        right:0;
    }

.toolbar {
    height: 100%;
    display: flex;
    align-items: center; /* Vertically center the images within the toolbar */
    justify-content: space-between; /* Distribute the images evenly along the toolbar */
}

.toolbar-img {
    height: 30px; /* Set the height of the images to 100% of the toolbar's height */
    width: auto; /* Allow the width to adjust proportionally based on the image's aspect ratio */
    margin-left: 1rem;
}

.offline {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    /*justify-content: flex-end;*/
    height: 1.75rem;
    display: flex;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: sticky;
    top: 3.5rem;
    z-index: 10; /* set lower z-index value */
}
.offline-img {
    margin-right: 1rem;
}

.login-form {
    max-width: 40rem;
    max-height: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.centreItems {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the parent take the full height of the viewport */
}

.login-form input {
    width: 100%;
    margin-bottom:2rem;
}
.login-form button {
    width: 100%;
    margin-bottom: 1rem;
}

/*@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
*/