.header {
    position: sticky;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    display: flex;
}

.header-imgcontainer {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 3rem;
}

.header-background {
    background-color: white;
    width: 100vw;
    height: auto;
    transform: scale(2);
    filter: blur(1.5rem);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    opacity: 0;
}

.header-text {
    margin-top: auto;
    margin-bottom: auto;
    z-index: 200;
    transition: opacity 0.25s ease-in-out; /* Smooth transition */
    mix-blend-mode: difference;
}

.header-artisttext {
    overflow: hidden;
    max-width: 80vw;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
}

.album-cover-img {
    /* functionally does nothing*/
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.header-nameContainer{
    z-index: 200;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

h3.header-artisttext {
    margin: 0;
    mix-blend-mode: difference;
}
h5.header-artisttext {
    margin-bottom: auto;
    margin: 0;
    font-weight: normal;
    mix-blend-mode: difference;
}

.GoBackButton {
    margin: auto 0 auto 1rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
    z-index: 200;
    position: relative;
}
