.music-player {
    height: 4rem;
    background-color: white;
    border: solid;
    border-color: lightgray;
    border-width: 2px;
    border-radius: 0.25rem;
    position: absolute; /* Ensure the z-index property works */
    bottom: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90vw; /* Need a specific value to work */
    z-index: 30; /* Set a higher z-index value to bring it above the other buttons */
}
