@using Microsoft.Maui.Controls;
@inject IJSRuntime JS

<div class="music-player" id="music-player" 
    @ontouchstart=OnLabelDrag 
    @onmousedown=OnLabelDrag 
    @ontouchenter=OnLabelDrag
    @ontouchend=LabelDragStop
    @onmouseup=LabelDragStop>

    <p id="dragBegugText">Start dragging to debug</p>
</div>

@code {
    [Parameter] public MusicPlayerContainer reference { get; set; }

    public bool isActive { get; set; } = true;

    public bool isPlaying { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        reference = this;
    }
    void OnLabelSwiped(SwipedEventArgs e)
    {
        // TODO: Response to swipe gesture

        // Check e.Direction

        StateHasChanged();
    }
    async void OnLabelDrag()
    {
        await JS.InvokeAsync<string>("dragElement", "music-player");
    }
    async void LabelDragStop()
    {
        await JS.InvokeAsync<string>("stopDrag");
    }
}
