@using PortaJel_Blazor.Data;

<div class="album-container">
    <div class="album-cover">
        <img class="album-cover" src="@album.imageSrc" />
    </div>
    <div>
        <div class="album-name">@album.name</div>
        <div class="album-artist">@album.GetArtistName()</div>
    </div>
    <div class="favorite-button">Favorite</div>
</div>

@code {
    [Parameter] public Album album { get; set; } = new Album();
}
