.album-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-right: 10px;
}
.artist-cover {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-right: 10px;
    border-radius: 50%;
}
.album-metadata{

}
.album-metadata-container{
    border-radius: 0.2rem;
    height: 1.5rem;
    width:fit-content;
    background-color: lightgray;
    color: gray;
}
.album-metadata-text{
    margin-left:0.5rem;
    margin-right:0.5rem;
}
/* Style for the album name */
.album-name {
    font-weight: bold;
}
.artist-name {
    font-weight: bold;
    text-align: center;
}

/* Style for the album artist */
.album-artist {
    color: gray;
    text-overflow: ellipsis;
    max-height: 3rem;
    overflow: hidden;
}

/* Style for the favorite button */
.favorite-button {
    margin-left: auto;
    cursor: pointer;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    user-select: none;
}
.favorite-button-icon {
    aspect-ratio: 1/1;
    height: 2.25rem;
    width: 2.25rem;
    color: red;
}

.grid-album-container {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.grid-album-cover {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 0.4rem;
}
.grid-artist-cover {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.grid-album-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 0.4rem;
    object-fit: cover;
}
.grid-artist-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.grid-album-name {
    font-weight: bold;
}
.grid-album-artist {
    color: gray;
}